body{
    background-image: url(download.jpg)
    width
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 1000px;
}

.two{
    display: flex;
    flex-direction: column;
}


button{
    margin-left: 1170px;
    margin-top: 15px;
}





















